@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}

.hero-content{
    animation: fadeUp 1.2s ease;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTestimonial{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* REVEAL */

.reveal{
    opacity: 0;
    transform: translateY(80px);
    transition: 1s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}